# Github stuff
.git
.github
.gitignore

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal
__pycache__/
migrations/

# General Directories
.idea
.graphql
media-content
fixtures
docs
tmp

# General files
*.md
.env
.env.defaults
renovate.json
pytest.ini

# Docker files
docker-compose.*
Dockerfile

# Test files
tests.py
tests/
