# Github stuff
.git
.github
.gitignore
renovate.json
README.md

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal

# General directories
.idea
.graphql
media-content
fixtures
docs
tmp
__pycache__
migrations

# General files
*.md
.env
.env.defaults
pytest.ini

# Docker files
docker-compose.*
Dockerfile

# Test files
tests.py
tests/
