# Github stuff
.git
.github
.gitignore

# General Directories
.idea
.graphql
fixtures
docs
tmp

# General files
*.md
.env
.env.defaults
renovate.json
pytest.ini

# Docker files
docker-compose.*
Dockerfile
