django==3.2.16
uplink==0.9.4
django-q==1.3.5
requests==2.25.1
graphene==2.1.8
marshmallow==3.11.1
django-filter==2.4.0
graphene-django==2.15.0
graphene-django-extras==0.5.1
django-enumfield==2.0.2
dependency_injector==4.32.2
serde==0.8.1
